#container{
    width: 400px;
    background-color: aliceblue;
    padding: 20px;
}
input{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}